* {
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header{
    width: 100%;
    height: 0 auto;
}
/******** titulo H1 **********/

.titulo-app {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin: 10px;
    letter-spacing: -1px;
    /*el espaciado entre letras se reducirá en 1 píxel*/
}

/*******botones*************/

.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
   
}

.botones-panel {
    justify-content: center;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

.boton-text {
    font-size: 25px;
    font-weight: 400;
    font-size: 14px;
    height: 30px;
    margin-top: 20px;
    padding: 15px 15px;
}

/****   efecto al hacer clic ****/
/*
.boton-text:hover,
.boton-text:focus,
.boton-default:hover,
.boton-default:focus {}

*/
.contenedor-botones .boton {
    margin: 2.5px;
}

input,
button,
select,
textarea {
    border: 0;
    display: block;
    outline: 0;

}


/* cambio de modo con un solo boton deslizable  */


.contenedor-interruptor {
    display: flex;
    width: 100px;
    margin: 2.5px;
    size: 50px;
}

.interruptor {
    position: relative;
    display: inline-block;
    top: 0;
    width: 70px;
    height: 30px;
}

.interruptor input {
    opacity: 0;
    width: 0;
    height: 0;
}

.controlDeslizante {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    --webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 40px;

}

.controlDeslizante::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: #997b66;
    --webkit-transition: 0.4s;
    transform: 0.4s;
    border-radius: 50%;
}


input:checked+.controlDeslizante:before {
    --webkit-transform: translateX(25px);
    --ms-transform: translateX(25px);
    transform: translateX(35px);
}


/* ****** fin del cambio de modo ***** */


.icono {
    padding-right: 15px;
    display: block;
}

.button-icon-text {
    margin-right: 5px;
    display: block;
}

/******** contenedor editor meme **************/

.contenedor-editor {
    width: 100%;
    height: 300px;
    display: flex;
	flex-direction: column;
	align-items: center;

}

.contenedor-meme {
    width: 100%;
    max-width: 610px;
    height: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    
}

.editor-meme {
    width: 100%;
    height: 280px;
    max-width: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

#texto-superior, #texto-inferior {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 10px ;
    
}

#imagen-meme {
    width: 100%;
    height: 250px;
    flex-grow: 1;
}

/**********************************PANEL DE CONTROLES *******/

.panel {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
 }

 .panel-imagen .panel-texto {
    width: 100%;
    height: 400px;
    
 }

.boton-cierre-panel {
    
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    color:#997b66;
}

.titulo-panel {

    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.panel-control-img {
    margin-bottom: 20px;
}


.titulo-control-img {

    width: 100%;
    font-size: 12px;
    padding-top: 10px;
    margin-top: 0px;
   
}

.control-input-img{
    width: 100%;
	height: 36px;
	transition: background-color 0.2s;
    font-size: 14px;
    border: #997b66 solid 1px;
	padding: 5px 10px;
	margin-bottom: 5px;
}

.panel-control-fondo {
    display: flex;
    justify-content: space-between;
    height: 36px;
  
}
#modo-color-input{
    width: 30px;
    height: 30px;
}

.panel-colores .opciones-colores {
    width: calc(50% - 5px);
    margin-bottom: 0;
}

.opciones-colores {
    height: 20px;
    display: flex;
    font-size: 12px; 
    
}

.panel-colores {
    width: 40%;
    height: 36px;
    display: flex;
    border: #997b66 solid 1px;
    align-items: center;
    
}

.panel-colores input {
    
    position: relative;
    margin-left: 1px;
    background-color: transparent;
}


.panel-colores > span {
    display: flex;
    height: 25px;
    padding-top: 8px;
    transform: translateY(-30%);
    font-size: 12px;
  
}

/************** FILTROS  **********/

.control-deslizante {
    margin-top: 5px;

}

label {
    font-size: 12px;
}

.control-deslizante input {
    width: 50%;
}

.control-slider>input[type='range'] {
    transition: 0.2s;

}

input[type='range'] {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    appearance: none;  
    margin-top: 5px;
    /** COMO DARLE COLOR A TODO EL CONTROL DE RANGO ,CIRCULO***/
}

.restablecimiento {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

/******** PANEL TEXTO *******/
/****************************/

.panel-control {
    margin-bottom: 20px;
    
}

.contenedor-tilde {
    display: flex;
    align-items: center;
}

.control-checkbox {
    margin-top: 10px;
    font-size: 12px;
}

.contenedor-tamaño-alineacion {
    display: flex;
    align-items: center;
}

#tamaño-fuente-input {
    width: calc(50% - 2.5px);
    margin-right: 2.5px;
}


.boton-alineacion {
    width: calc(50% - 2.5px);
    justify-content: space-between;
    margin-left: 2.5px;

}

.boton-alineacion .boton {
    margin: 0;
    width: calc(100% / 3 - 10px / 3);
    height: 36px;
    min-width: 0;
}
.boton-default {
    width: 100%;
    border: #997b66 solid 1px;

}


.panel-control-columns {
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.panel-control-columns .panel-control-column {
    width: calc(50% - 5px);
    margin-bottom: 0;
    
}

.panel-control-color {
    position: relative;
    display: flex;
	height: 36px;
	border: #997b66 solid 1px;
	align-items: center;
    
}

.panel-control-color>input[type='color'] {
   
    background: transparent;
    border-radius: 50%;

}

.panel-control-color>span {
    position: absolute;
    left: 35px;
    top: 10%;
    transform: translateY(10%);
    font-size: 12px;

}

#text-color-input {
	width: 30px;
	height: 30px;   
}
#text-background-input {
    width: 30px;
	height: 30px;  
}

.contenedor-botones-contorno {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 36px;
    gap: 5px;
    margin-bottom: 5px;
}

.contenedor-botones-contorno .button:first-child {
    margin-left: 0;
}

.contenedor-botones-contorno .button {
    margin: 2.5px;
    color:#997b66;
    font-size: 12px;
}


/***** Medias Queries panatalla principal *******/

@media screen and (min-width: 375px) {
    .texto-meme{
        padding: 6px 90px;
        align-items: center;
    }
}
   



@media screen and (min-width: 425px) {
   
    .texto-meme {
        padding: 6px 120px;
    }

    .switch-mode{
        align-items: center;
    }
}

/********* aside imagen Medias queries ********** /
