
/* ARCHIVO NORMALIZE*/

@import url("./normalize.css");

/*import letras*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* import pantallas*/

@import url("./mobile.css");
@import url("./tablet.css") screen and (min-width:768px);
@import url("./laptops.css") screen and (min-width:1024px);
@import url("./desktops.css") screen and (min-width: 1440px);




/****   VARIABLES   root  *****/

:root{
 /* modo oscuro */
  --color-fondo: #140152 ;
  --color-letras: #ebebeb;
  --background-botones: #4361ee;
  --background-editor-meme: #22007c;
  --background-imagen: #97dffc;
  --background-filtros : #bbd0ff;

/* modo claro */
  --color-fondo1: #FFB5A7;
  --color-letras1: #997b66;
  --background-botones1 :#FEC89A;
  --background-editor-meme1: #FCD5CE;
  --background-imagen1: #F9DCC4;

  --background-filtros1: "red";  
  
 
}

/********animaciones posibles***************************/

    